*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    color: crimson;
    background: crimson;
}

body::-webkit-scrollbar-thumb{
    background:rgb(216, 95, 119);
    border-radius:20px;
}

.container{
    padding:20px;
    width:100%;
    display: flex;
    background-image: linear-gradient(to left,crimson,rgb(119, 15, 36));
}
.card-item{
    width:100px;
    height:150px;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    margin:5px;
    padding:10px;
    background-color: rgb(246, 246, 246);
    cursor:not-allowed;
    transition:1s ease-in-out;
    box-shadow:2px 2px 2px gainsboro ,-2px -2px 2px gainsboro;
}

.card-item p {
    font-size:20px;
}

.card-item span {
    font-size:70px;
    text-align: center;
}

.playground{
    padding:10px;
    display: flex;
    flex-flow: row wrap;
}

.space{
    height:400px;
    width:100%;
    background-color: rgb(251, 251, 251);
    display: flex;
    transition:1s ease-in-out;
    box-shadow:1px 1px 3px gainsboro;
}

.space .card-item {

    background-color: white;
}



.btns-box{

}

.btn-start-game{
    width:100%;
    padding:10px;
    background-color:rgb(216, 95, 119);
    color: white;
    border:none;
    border-radius:10px;
}



.header-main{
    padding:10px;
    display: flex;
    justify-content: space-around;
}

.btn-start-game:hover{
    background-color: rgb(218, 60, 92);
}

.side {
    width:20%;
}

.main{
    width:80%;
    height:100vh;
    padding:10px;
}


.player-card{
    width:100%;
    padding:5px;
    display: flex;
    justify-content: space-around;
    border:1px solid black;
    border-radius:10px;
    margin:5px 0px;
}

.disappear{
    display: none;
}

.guess-pop{
    width:500px;
    padding:30px;
    background-color: crimson;
    position: fixed;
    left:30%;
    top:30%;
    color: white;
}

.guess-pop .guess-btns{
    width:90%;
    padding:10px;
}
.guess-btns button {
    padding:10px;
    background-color: rgb(168, 14, 45);
    color: white;
    border: none;
    cursor: pointer;
}

.show-off{
    display: none;
}

.winnerCard{
box-shadow:2px 2px 2px rgb(255, 255, 145) , -2px -2px 3px rgb(255, 255, 95) ;
}


.active-card{
cursor: pointer;    
background-color: white;
box-shadow:2px 2px 2px rgb(255, 255, 69) , -2px -2px 2px rgb(255, 255, 95) ;
}